*{

    padding: 0;
    margin: 0;
    font-family: 'Averia Serif Libre', cursive;
}


                                     /*HEADER*/

header{ 
    width: 100%;
}

                                     /*Logo*/
a.logo{
    font-size: 28px;
    text-decoration: none;
    padding-left: 1%;
    color: black;
    float: left;
    width: 30%;
}

a.logo span{
    color: #003B6C;
}
                                    /*Barre de navigation*/
nav ul{
    margin: 0;
    padding: 0;
}

nav ul::after{
    content: '';
    display: block;
    clear: both;
}
nav ul li.first{
    float: right;
    padding-left: 30px;
    position: relative;
}

nav ul li{
    text-align: center;
    list-style-type: none;
}

nav ul li a{
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: black;
    transition: 0.5s ease;
}

nav ul li a:hover{
    border-radius: 8px;
    color: white;
    background: #003B6C;
}

nav ul li:hover .sous-m{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}

.sous-m{
    background-color: white;
    display: none;
}

.sous-m li a{
    padding: 15 30px;
    width: 200px;

}

                                 /*IMG*/



.firstpic img{
    width: 100%;
    height: 530px;
}
                        /*Section OFFRE - Section ACTU*/

.desc{
    display: flex;
    justify-content:space-around;
}
    
.desc i{
    font-size: 50px;

}
.actu{
    background: #f0f5f8;
}

p.title{
    text-align: center;
    font-size: 28px;
    color: black;
    width: 100%;
}

.flex-actu{
    display: flex;
    justify-content: space-around;
}

.flex-offer{
    display: flex;
    justify-content:space-around;
}

.card{
    border: 1px solid rgb(226, 226, 226);
    border-radius: 20px;  
    transition: 0.3s ease;
}

.card:hover{
    transform: scale(1.07);
    box-shadow: 5px 5px 15px rgba(190, 190, 190, 0.9);
}

.card .card-img{
    height: 200px;
    width: 310px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn-card{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    border: none;
    color: white;
    background: #003B6C;
    transition: 0.3s;
}

.btn-card:hover{
    color: white;
    background: #0383eb;
}

.more-actu{
    padding-top: 2.6%;
    background: #f0f5f8;
    padding-left: 38%;
    text-decoration: none;
    font-size: 20px;
}

.more-actu a{
    color: #003B6C;
    text-decoration: none;
    transition: 0.5s ease;
}

.more-actu a:hover{
    border-bottom: 1px solid #003B6C;
}

                                    /*Espace entre les parties*/ 
.space{                     
    height: 150px;
}


                                    /* Section FOOTER */

footer{
    background-color: #003B6C;
    position: relative;
}

.ft-content{
    display: flex;
    flex-direction: row;

}

.actu .actu-content .card{
    justify-content: space-between;
}

.ftr-section{ 
    text-align: center;
    flex: 1;
    padding: 25px;   
}

.ftr-section h3{
    text-align: center;
    color: white;
    font-size: 25px;
}
                                    /*Formulaire*/

form input{
    width: 100%;
    height: 45px;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

form button{
    width: 50%;
    height: 45px;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    text-align: center;
    transition: 0.3s;
}

form button:hover{
    color: white;
    background: rgb(0, 119, 255);
}

form textarea{
    width: 100%;
    height: 130px;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}


                            /*Coordonnées*/
.about{
    padding-top: 6%;
    text-align: center;
}

.ftr-section p{
    color: white;
    font-size: 20px;
}

.social{
    font-size: 23px;

}

.social a i{
    color: none;
    transition: 0.5s;
}

.social a i:hover{
    color: white;
}
                                /* Localisation */
frame{
    padding-top: 6%;
}

iframe{
    width: 80%;
    border-radius: 2.5%;
}
                                /*Cle Admin */
.key_admin{
    font-size: 23px;
    padding-top: 30%;
}

.key_admin a i{
    color: rgb(206, 151, 0);
}
                                /* Copyright */
.ft-copy{
    padding-bottom: 9px;
    background: #003B6C;
    color: black;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
}



