*{

    padding: 0;
    margin: 0;
    font-family: 'Averia Serif Libre', cursive;
}

header{
    width: 100%;
}

h3.logo{
    padding-left: 1%;
    color: black;
    float: left;
    width: 30%;
}

h3.logo span{
    color: #003B6C;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul::after{
    content: '';
    display: block;
    clear: both;
}
nav ul li.first{
    float: right;
    padding-left: 30px;
    position: relative;
}

nav ul li{
    text-align: center;
    list-style-type: none;
}

nav ul li a{
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: black;
    transition: 0.5s ease;
}

nav ul li a:hover{
    border-radius: 8px;
    color: white;
    background: #003B6C;
}



nav ul li:hover .sous-m{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}

.sous-m{
    background-color: white;
    display: none;
}

.sous-m li a{
    padding: 15 30px;
    width: 200px;

}


.text-head{
    text-align: center;
    padding-top: 3%;
}

.container{
    width: 85%;
    padding-top: 1%;

}

.card{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(230, 230, 230, 0.9);
    transition : 0.5s ease;
 
}

.card:hover{
    box-shadow: 5px 5px 15px rgba(190, 190, 190, 0.9);
}

.card .card-img{
    height: 270px;
    width: 330px;
    padding-left: 2%;
    padding-top: 2%;
    border-radius: 20px;
    border: none;
}

.card .card-content .card-text{
    padding-left: 1.5%;
    padding-top: 1%;
    font-size: 18px;
}

.card-text span.price{
    font-size: 23px;
    font-weight: 600;
}

.card-text span.descrptn{
    font-size: 14px;
}




